<p><span style="font-weight: 400;">Swords and Strongholds</span></p>
<p><span style="font-weight: 400;">======================</span></p>
<p style="padding-left: 30px;"><span style="font-weight: 400;">Swords and Strongholds is a digital board game originally based off a physical game created by David Petersen and Luke Crane.</span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">Features</span></p>
<p><span style="font-weight: 400;">--------</span></p>
<ul>
<li style="font-weight: 400;"><span style="font-weight: 400;">Interactive chess-like strategy</span></li>
<li style="font-weight: 400;"><span style="font-weight: 400;">Fun, intuitive gameplay</span></li>
<li style="font-weight: 400;"><span style="font-weight: 400;">Simple, yet complex logic</span></li>
<li style="font-weight: 400;"><span style="font-weight: 400;">Connections to Mouse Guard comic universe</span></li>
</ul>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">Installation</span></p>
<p><span style="font-weight: 400;">------------</span></p>
<p style="padding-left: 30px;"><span style="font-weight: 400;">Install Swords and Strongholds by running the setup.exe file in the downloaded folder. The setup program will unpack and install the necessary files.</span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">Contribute</span></p>
<p><span style="font-weight: 400;">----------</span></p>
<ul>
<li style="font-weight: 400;"><span style="font-weight: 400;">Source code: </span><a href="https://github.com/thomasbrooks4/Swords-and-Strongholds"><span style="font-weight: 400;">https://github.com/thomasbrooks4/Swords-and-Strongholds</span></a></li>
<li style="font-weight: 400;"><span style="font-weight: 400;">Development software: </span><a href="https://unity3d.com/"><span style="font-weight: 400;">https://unity3d.com/</span></a></li>
</ul>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">Support</span></p>
<p><span style="font-weight: 400;">-------</span></p>
<p style="padding-left: 30px;"><span style="font-weight: 400;">Please email us if you are experiencing any difficulties or would like to suggest improvements or new features. Email us at: </span><a href="mailto:thomasbrooksgames@gmail.com"><span style="font-weight: 400;">thomasbrooksgames@gmail.com</span></a></p>