<p><span style="font-weight: 400;">Swords and Strongholds: User Manual</span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">Table of Contents</span></p>
<p style="padding-left: 30px;"><span style="font-weight: 400;">1. Starting the program</span></p>
<p style="padding-left: 30px;"><span style="font-weight: 400;">2. Navigating the menus</span></p>
<p style="padding-left: 60px;"><span style="font-weight: 400;">a. Main menu</span></p>
<p style="padding-left: 60px;"><span style="font-weight: 400;">b.&nbsp;Play</span></p>
<p style="padding-left: 60px;"><span style="font-weight: 400;">c. Instructions</span></p>
<p style="padding-left: 60px;"><span style="font-weight: 400;">d. Exit</span></p>
<p style="padding-left: 30px;"><span style="font-weight: 400;">3. Playing the game</span></p>
<p style="padding-left: 60px;"><span style="font-weight: 400;">a. Game objective</span></p>
<p style="padding-left: 60px;"><span style="font-weight: 400;">b. General gameplay</span></p>
<p style="padding-left: 30px;"><span style="font-weight: 400;">4. Exiting the program</span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">Starting the program</span></p>
<p style="padding-left: 30px;"><span style="font-weight: 400;">After installing the game, double click on the game icon. This will open up the program and take you to the main menu.</span></p>
<p style="padding-left: 30px;">&nbsp;</p>
<p><span style="font-weight: 400;">Navigating the menus</span></p>
<p style="padding-left: 30px;"><span style="font-weight: 400;">The&nbsp;different menus will allow you to navigate the game.</span></p>
<p style="padding-left: 30px;"><span style="font-weight: 400;">&nbsp;</span></p>
<p style="padding-left: 30px;"><span style="font-weight: 400;">Main Menu</span></p>
<p style="padding-left: 60px;"><span style="font-weight: 400;">The main menu will be the main portal to navigate the game. From here you can start a game, learn how to play, or exit the program.</span></p>
<p style="padding-left: 30px;"><span style="font-weight: 400;">Play</span></p>
<p style="padding-left: 60px;"><span style="font-weight: 400;">Pressing the play button will start a new game.</span></p>
<p style="padding-left: 30px;"><span style="font-weight: 400;">Instructions</span></p>
<p style="padding-left: 60px;"><span style="font-weight: 400;">The instructions menu will display the in depth game instructions on how to play the game.</span></p>
<p style="padding-left: 30px;"><span style="font-weight: 400;">Exit</span></p>
<p style="padding-left: 60px;"><span style="font-weight: 400;">Pressing the exit button will close and terminate the program.</span></p>
<p style="padding-left: 60px;">&nbsp;</p>
<p><span style="font-weight: 400;">Playing the game</span></p>
<p style="padding-left: 30px;"><span style="font-weight: 400;">After starting a new game you will be placed in a game against a computer.&nbsp;For more in depth rules please see the Instructions screen on the main menu.</span></p>
<p style="padding-left: 30px;">&nbsp;</p>
<p style="padding-left: 30px;"><span style="font-weight: 400;">Game objective</span></p>
<p style="padding-left: 60px;"><span style="font-weight: 400;">There are two ways to win the game. One way is to place a stronghold on one of the back two corners on the enemy side of the board, or elimate all of the enemies pieces.</span></p>
<p style="padding-left: 30px;"><span style="font-weight: 400;">General gameplay</span></p>
<p style="padding-left: 60px;"><span style="font-weight: 400;">Once the game begins, the player is given 4 pieces to place on any intersection in the first two rows of the board. After the player places their pieces they will draw three cards and start the game. The general game loop for each player is: move piece, play a card on that piece or end turn.</span></p>
<p style="padding-left: 60px;">&nbsp;</p>
<p style="padding-left: 60px;"><span style="font-weight: 400;">Move Piece</span></p>
<p style="padding-left: 90px;"><span style="font-weight: 400;">The player can choose any of their available pieces to move. After selecting the piece, the player will choose an adjacent intersection to move that piece to.</span></p>
<p style="padding-left: 60px;"><span style="font-weight: 400;">Play Card</span></p>
<p style="padding-left: 90px;"><span style="font-weight: 400;">After moving a piece, a player can choose to either end their turn or play one of the three cards in their hand. The card can be one of these three options:</span></p>
<p style="padding-left: 120px;"><span style="font-weight: 400;">Diplomacy</span></p>
<p style="padding-left: 150px;"><span style="font-weight: 400;">Diplomacy will target the nearest enemy piece to the selected friendly piece. If that piece is strongholded the player can then choose an adjacent intersection to place the enemy piece on, effectively taking the enemy piece out of stronghold. If the piece is not a stronghold then it will switch places with the enemy piece.</span></p>
<p style="padding-left: 120px;"><span style="font-weight: 400;">Stronghold</span></p>
<p style="padding-left: 150px;"><span style="font-weight: 400;">After playing Stronghold, the player can choose one of the adjacent squares to be a stronghold on. Once becoming a stronghold, the piece can not move and the four adjacent intersections will not be traversable. The player will have to use a full turn to take the piece out of stronghold.</span></p>
<p style="padding-left: 120px;"><span style="font-weight: 400;">Sword</span></p>
<p style="padding-left: 150px;"><span style="font-weight: 400;">The Sword card will allow the player to make two additional movements. These two movements have to be perpendicular to eachother and make a hook shape. During these movements, the piece an push enemy pieces in the direction they are traveling.</span></p>
<p style="padding-left: 30px;"><span style="font-weight: 400;">Exiting the program</span></p>
<p style="padding-left: 60px;"><span style="font-weight: 400;">After completing the game the program will return you to the main menu. Once on the main menu you can select the Exit button to terminate the program.</span></p>
<p style="padding-left: 60px;">&nbsp;</p>
<p><span style="font-weight: 400;">For any additional information, please view the instructions screen or email us at:&nbsp;<a href="mailto:thomasbrooksgames@gmail.com">thomasbrooksgames@gmail.com</a></span></p>
<p>&nbsp;</p>